.card {
    display: inline-block;
    width: 25vw;
    font-size: 10vmin;
    border: 1px solid black;
    #padding: 0.25em;
    margin: 0.5vh;
    background: lightblue;
    border-radius: 20px;
}

.show {
    border: 1px solid black;
    background: lightblue;
    font-size: 50vmin;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    display: inline-block;
    border-radius: 40px;
}

body {
    padding-top: 20vmin;
    text-align: center;
}
